/*Style of the standard tab buttons*/
.tablink {
    background-color:lightgray;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
  }

/* Change background color of buttons on hover */
.tablink:hover {
    color: maroon;
}

/*CSS for the Header of each page*/
.pageheader{
    text-align:center;
    font-size:24px;
    width: auto;
}

.pageintro{
    color:black;
    background-color:maroon;
    font-size: 18px;
    width:80%;
    text-align:center;
}


html {
    background-color:white;

}

ul{
    width:60%; 
    margin-left:auto; 
    margin-right;
    text-align:left;
}

