/*Style of the standard tab buttons*/
.tablink {
    background-color:lightgray;
    color: gray;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
  }

/* Change background color of buttons on hover */
.tablink:hover {
    color: maroon;
}

/*CSS for the Header of each page*/
.pageheader{
    text-align:center;
    font-size:24px;
    width: auto;
}

html {
    background-color:maroon;
    border-color: #6b0101;
    border-style: groove;

}
